<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ProectCalendar.ui.handler1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.any?after=additions">
         <menu
               label="MyMenus">
            <command
                  commandId="ProectCalendar.ui.command1"
                  label="generate .rfc file"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ProectCalendar.ui.generateRFC"
            name="GenRFCFile">
      </command>
   </extension>

</plugin>
